body{
    background: bottom;
    background-repeat:no-repeat !important;
    background-size:100% 100%;
    background-attachment: fixed;"
}
.m-padded-mini {
    padding: 0.2em !important;
}
.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded{
    padding: 1em !important;
}
.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massivs {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
    line-height: 1.8;
}

.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

/*------TEXT------*/
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 1px !important;
}
.m-tetx-lined {
    line-height: 1.8;
}

/*------MARGIN------*/
.m-margin-top-small {
    margin-top: 0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

/*------OPACITY------*/
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}

/*------POSITION------*/
.m-right-top {
    position: absolute;
    top:0;
    right: 0;
}

/*------DISPLAY------*/
.m-inline-block {
    display: inline-block !important;
}

/*------CONTAINER------*/
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}

/*------SHADOW------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*POSITON*/
.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}
.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}

/*------COLOR------*/
.m-black {
    color: #333 !important;
}

.m-teal{
    color: #1abc9c;
}

.m-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}